# dependencies
node_modules/
.pnp
.pnp.*

# testing
coverage

# production
build/
dist/
.next/
out/

# misc
.DS_Store
*.pem
*.log
.vercel
.turbo

# env files
.env
.env.local
.env.development
.env.production
.env.test
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# ide
.vscode/
.idea/
